
{{ 'Collection1.css' | asset_url | stylesheet_tag }}

{% if section.settings.collection.all_products_count %}

<div class="collection collection1">
  <div class="container">
    <div class="row">
      {%- for product in section.settings.collection.products limit: section.settings.total_products -%}
      <div class="{{ section.settings.xxl_col }} {{ section.settings.xl_col }} {{ section.settings.l_col }} {{ section.settings.md_col }} {{ section.settings.sm_col }}">
        <div class="collection1__collection-item">
          {%  assign opacity = section.settings.opacity | divided_by: 100.00  %} 
          <div class="collection1__product-img collection1__product-img--{{ section.settings.image_fit }}
           collection1__product-img--{{ section.settings.container_shape }}" style=" background-color: {{ section.settings.Cbackground |  color_modify: 'alpha', opacity }}">
            <div class="collection1__heart"><i class="far fa-heart"></i></div>
            {%- if  product.images[0] != blank -%}
              <a href="{{ product.url }}" class="img-link">
              <img class="hero1__bg" src="{%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                            {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                            {%- capture sizes -%}
                          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                          (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                        {%- endcapture -%}
                          {%- else -%}
                            {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                            {%- capture sizes -%}
                          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                          (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                        {%- endcapture -%}
                          {%- endif -%}
                          {{-
                            product.images[0]
                            | image_url: width: 2000
                            | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                          -}} ">
                          </a>
              
              {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
          </div>
          <div class="collection1__product-info">
            <div class="collection1__product-details">
              {%- if section.settings.show_title == true -%}
              <span class="collection1__product_title">
                {{ product.title }}
                </span>
              {%- endif -%}
              {%- if section.settings.show_price == true -%}
              <span class="collection1__product_price">
                {{ product.price }}
                </span>
                <div>
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when '@app' %}
                      {% render block %}
                    {% endcase %}
                  {% endfor %}
                </div>
                </div>
                {%- endif -%}
            <div class="collection1__colors">
              <div class="collection1__color collection1__color--blue"></div>
              <div class="collection1__color collection1__color--black"></div>
            </div>
          </div>
        </div>
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{% else %}
<h1>Show demo</h1>
{% endif %}




{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% schema %}
{
  "name": "Collection Products 1",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
   
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
        "type": "range",
        "id": "total_products",
        "min": 1,
        "max": 16,
        "step": 1,
        "label": "Total Products",
        "default": 16
    },
    
    {
      "type": "select",
      "id": "container_shape",
      "options": [
        {
          "value": "rectangle",
          "label": "Rectangle"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        }
      ],
      "default": "rectangle",
      "label": "Product Container Shape"
    },
    {
      "type": "select",
      "id": "image_fit",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover",
      "label": "Product Image Fit"
    },
    {
        "type": "color",
        "id": "Cbackground",
        "label": "BackGround",
        "default": "#EDEFF5"
    },
    {
        "type": "range",
        "id": "opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Color Opacity",
        "default": 100
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show Price",
      "default": true
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Link"
    },
    {
      "type": "select",
      "id": "xxl_col",
      "options": [
        {
          "value": "col-xxl-6",
          "label": "2 Columns"
        },
        {
          "value": "col-xxl-4",
          "label": "3 Columns"
        },
        {
          "value": "col-xxl-3",
          "label": "4 Columns"
        },
        {
          "value": "col-xxl-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-xxl-3",
      "label": "XXL Devices"
    },
    {
      "type": "select",
      "id": "xl_col",
      "options": [
        {
          "value": "col-xl-6",
          "label": "2 Columns"
        },
        {
          "value": "col-xl-4",
          "label": "3 Columns"
        },
        {
          "value": "col-xl-3",
          "label": "4 Columns"
        },
        {
          "value": "col-xl-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-xl-3",
      "label": "Extra Large Devices"
    },
    {
      "type": "select",
      "id": "lg_col",
      "options": [
        {
          "value": "col-lg-6",
          "label": "2 Columns"
        },
        {
          "value": "col-lg-4",
          "label": "3 Columns"
        },
        {
          "value": "col-lg-3",
          "label": "4 Columns"
        },
        {
          "value": "col-lg-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-lg-3",
      "label": "Large Devices"
    },
    {
      "type": "select",
      "id": "md_col",
      "options": [
        {
          "value": "col-md-6",
          "label": "2 Columns"
        },
        {
          "value": "col-md-4",
          "label": "3 Columns"
        },
        {
          "value": "col-md-3",
          "label": "4 Columns"
        },
        {
          "value": "col-md-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-md-3",
      "label": "Medium Devices"
    },
    {
      "type": "select",
      "id": "sm_col",
      "options": [
        {
          "value": "col-sm-6",
          "label": "2 Columns"
        },
        {
          "value": "col-sm-4",
          "label": "3 Columns"
        },
        {
          "value": "col-sm-3",
          "label": "4 Columns"
        },
        {
          "value": "col-sm-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-sm-6",
      "label": "Small Devices"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Collection Products 1"
    }
  ]
}
{% endschema %}
