{{ 'Hero1.css' | asset_url | stylesheet_tag }}


<div class="hero hero1 hero1--aligned-{{ section.settings.info_alignment }} hero1--{{ section.settings.hero_height }}">
        {%- if section.settings.image != blank -%}
            <img class="hero1__bg"  src="{%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
              {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
              {%- capture sizes -%}
            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
            (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
          {%- endcapture -%}
            {%- else -%}
              {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
              {%- capture sizes -%}
            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
            (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
          {%- endcapture -%}
            {%- endif -%}
            {{
              section.settings.image
              | image_url: width: 2000
              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
            }}">
            
          {%- else -%}
            {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
          {%  assign opacity = section.settings.opacity | divided_by: 100.00  %} 
    <div class="hero1__content-container" style=" background-color: {{ section.settings.background |  color_modify: 'alpha', opacity }}">
        <div class="hero1__info">
            {%- for block in section.blocks -%}
            {% case block.type %}
            {%- when 'heading' -%}
            <h1 class="hero1__title hero1__title--{{- block.settings.title_size -}}">{{ block.settings.title |  escape }}</h1>
            
            {%- when 'paragraph' -%}
                <p class="hero1__paragraph">
                    {{ block.settings.paragraph }}
                </p>
            {%- when 'button' -%}

            {%- if block.settings.button_label != blank -%}
                <a href="{{ block.settings.button_link }}" class="hero1__button" {{ block.shopify_attributes }}>{{ block.settings.button_label | escape }}</a>
                
            </a>
            {%- endif -%}
            {%- endcase -%}
            {%- endfor -%}
        </div>
    </div>
</div>



{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% schema %}
{
  "name": "Hero-one",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "hero_height",
      "options": [
        {
          "value": "25vh",
          "label": "25%"
        },
        {
          "value": "50vh",
          "label": "50%"
        },
        {
          "value": "75vh",
          "label": "75%"
        },
        {
          "value": "100vh",
          "label": "100%"
        }
      ],
      "default": "100vh",
      "label": "Height"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
        "type": "color",
        "id": "background",
        "label": "BackGround",
        "default": "rgba(0,0,0,0.5)"
    },
    {
        "type": "range",
        "id": "opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "opacity",
        "default": 50
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Link"
    },
    {
      "type": "select",
      "id": "info_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right",
      "label": "Info Alignment"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
            {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
            },
            {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        },
        {
          "value": "xl",
          "label": "Extra Large"
        }
      ],
      "default": "md",
      "label": "Font Size"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "paragraph",
      "limit": 1,
      "settings": [
        {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "Example Message: I'm baby kogi cardigan kitsch hammock banjo. Typewriter viral man braid hot chicken, farm-to-table fashion axe intelligentsia lomo green juice ramps irony succulents."
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
        "type": "url",
        "id": "button_link",
        "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero One",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
